/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
    padding-top: 70px;
}
#header-nav {
  background-color: #f6b319;
  /*border-radius: 0;
  border: 0px;*/
}

.navbar-brand h1 { /* Brand name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  /*text-decoration: none;*/
}

#nav-list {
  /*margin-top: 10px;*/
  /*border-top: 1px solid white;*/
}
#nav-list a {
  color: #951C49;
  text-align: center;
  border-bottom: 1px solid white;
}
#nav-list a:hover {
  background: #E7E7E7;
}

/*.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}*/
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


h1 {
  margin-bottom: 15px;
}

h3 {
}
p {
  font-family: Helvetica;
  color: white;
  margin-top: 35px;
  padding: 5px;
}

.box-menu{
  background-color: #A59B9B;
  border: 1px solid black;
  margin: 1%;
  height: 700px;

}

.box-menu a {
    position: absolute;
    bottom: 1%;
    left: 7%;
    /*width: 100%;
*/}